<!-- <input type="text" placeholder="Patient Name" [(ngModel)]="patientName">
<input type="number" placeholder="Age" [(ngModel)]="patientAge">
<select [(ngModel)]="patientGender">
  <option value="">Select Gender</option>
  <option value="Male">Male</option>
  <option value="Female">Female</option>
  <option value="Other">Other</option>
</select> -->

<div class="upload-comp">

  <div class="upload-btn">
    <h2>Upload Image(s) for Prediction</h2>

    <label>Frontal Image:</label>
    <input type="file" (change)="onFileSelected($event, 'frontal')" />

    <label>Lateral Image (Optional):</label>
    <input type="file" (change)="onFileSelected($event, 'lateral')" />

    <button (click)="submitImages()">Submit</button>
  </div>

  <p *ngIf="imageLoader"> Prediction in Progress...</p>
  <div *ngIf="imageLoader" class="loader"></div>

  <div class="image">
    <div *ngIf="imageUrl" class="uploaded-img">
      <h3>Uploaded Frontal Image:</h3>
      <img [src]="imageUrl" alt="Frontal Image" />
    </div>

    <div *ngIf="annotatedImage" class="upload-an">
      <h3>Annotated Image:</h3>
      <img [src]="'data:image/png;base64,' + annotatedImage" alt="Annotated Image" />
    </div>
  </div>


</div>
